.form-group {
  margin-bottom: 1rem;
  
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 150px;
}

.btn, %btn {
  cursor: pointer;
  background-color: transparent;
  color: $color-clair;
  border: 1px solid $color-clair;
  border-radius: $border-radius;
  height: auto;
  padding: .375rem .75rem;
  transition-property: color, background-color;
  font-family: $premiere-police;
  font-size: 1rem;
}
.btn:hover {
  background-color: $color-alt;
  border-color: $color-alt;
}
input, textarea, label, select{
  color: $color-clair;
  font-size: 1rem;
  font-weight: 400;
  font-family: $premiere-police;
  border: 1px solid darken($color-clair, 40%);
  border-radius: $border-radius;
  background-color: transparent;
  line-height: 1.15;
  display: block;
  padding: .375rem .75rem;
}
label {
  border: none; 
  padding-left: 0;
  font-size: 1rem;
  padding-bottom: .5rem;

}
::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder {
  font-weight: 300;
  padding: .5rem 1rem;
  font-family: $premiere-police;
}
.form-error-message {
  color: #9d232e;
  font-size: .9rem;
  font-weight: 400;
  font-family: $premiere-police;
  padding-top: .5rem;
  display: flex;
  align-items: center;

  &:before {
    content: "ERROR";
    font-size: .7rem;
    display: inline-block;
    background-color: #9d232e;
    color: $danger-text;
    border-radius: $border-radius;
    padding: .3em;
    color: $color-clair;
    margin-right: .5rem;
  }
}

